<div fxLayout="row wrap" fxLayoutAlign="space-around center" class="exibeMotoristas">
    <ng-container *ngFor="let motorista of motoristas">
        <mat-card fxFlex="0 1 calc(33.3% - 11px)"
        fxFlex.lt-md="0 1 calc(50% - 11px)"
        fxFlex.lt-sm="100%" class="motoristaCard">
            <mat-card-title>
                <mat-card-title> {{ motorista.nome }} {{ motorista.sobrenome }} </mat-card-title>
                <mat-card-subtitle>CNH: {{ motorista.numeroCNH }} </mat-card-subtitle>
            </mat-card-title>
            <mat-card-content>
                <p><span>Número de Veículos: </span></p>
                <p><span>Número de Multas: </span></p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dadosMotorista/motorista.motoristaId']">Ver Mais</button>
                <button mat-button>Excluir</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
    <mat-card fxFlex="0 1 calc(33.3% - 11px)"
        fxFlex.lt-md="0 1 calc(50% - 11px)"
        fxFlex.lt-sm="100%" class="motoristaCard">
        <mat-card-title>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-title>
        <mat-card-content>
            <p><span>Número de Veículos: </span></p>
            <p><span>Número de Multas: </span></p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/dadosMotorista']">Ver Mais</button>
            <button mat-button>Excluir</button>
        </mat-card-actions>
    </mat-card>
</div>
